/* styles.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 20px;
}

.logo {
  width: 150px;
  margin-top: 20px;
}

.game-container {
  padding: 20px;
}

.game-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.game-start-button {
  background-color: #ff5722;
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.game-start-button:hover {
  background-color: #e64a19;
}

.game-board {
  margin-top: 20px;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
}

.link-button {
  background-color: #1e88e5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
}

.link-button:hover {
  background-color: #1565c0;
}

.footer {
  margin-top: 40px;
  padding-bottom: 20px;
}

#gameStatus {
  margin-top: 20px;
  font-size: 18px;
}
